 .header {
      position: relative;
      margin-top: 24px;
      height: 146px;
    }

    .header__avatar {
      width: 146px;
      height: 146px;
      float: right;
      margin-right: 62px;
      background-color: #b2b2b2;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .header__name {
      font-size: 52px;
      line-height: 1;
    }

    .header__name strong{
      font-size: 52px;
    }

    .header__line-1 {
      background-color: #0747A6;
      position: absolute;
      top: 0;
      left: -56px;
      width: 56px;
      height: 20px;
    }

    .header__line-2 {
      background-color: #0747A6;
      position: absolute;
      top: 118px;
      left: 100%;
      width: 56px;
      height: 20px;
    }

    .header__line-3 {
      background-color: #0747A6;
      position: absolute;
      top: 142px;
      left: 629px;
      width: 108px;
      height: 4px;
    }

    .pull-right {
      float: right;
    }

    .part-1 {
      width: 438px;
      float: left;
      min-height: 1px;
    }

    .part-2 {
      float: left;
      margin-top: 0;
      margin-left: 36px;
      width: 207px;
      min-height: 1px;
    }

    .header + .content .part-2 {
      margin-top: 38px;
    }

    .block {
      margin-bottom: 24px;
    }

    .block-heading {
      height: 38px;
      line-height: 38px;
      border-bottom: 2px solid #0747A6;
      font-size: 16px;
      margin-bottom: 20px;
    }

    .block-heading-icon {
      background-color: #0747A6;
      float: left;
      width: 30px;
      height: 38px;
      text-align: center;
      color: #ffffff;
      font-size: 24px;
      margin-right: 8px;
      font-weight: bold;
    }

    .block-content {
      font-size: 12px;
    }

    .block-content-row {
      margin-bottom: 18px;
    }

    .block-content-row.-mini {
      margin-bottom: 12px;
    }

    .block-content-row.-last {
      margin-bottom: 0;
    }

    .block-content-row-heading {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 2px;
    }

    .block-content-row-heading .pull-right {
      margin-left: 16px;
    }

    .square {
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: #0747A6;
      margin: 6px 6px 0;
      vertical-align: top;
    }

    .part-2 .block-heading {
      margin-bottom: 20px;
    }

    .part-2 .block {
      margin-bottom: 20px;
    }

    .progress-bar {
      color: #c0c0c1;
      font-weight: 800;
      font-size: 14px;
      line-height: 1;
    }

    .progress {
      color: #0747A6;
    }

    .progress-slash {
      letter-spacing: -4px;
      margin-right: 2px;
    }

    .hobby {
      font-size: 26px;
      color: #7d7d7d;
    }

    .hobby i {
      margin-right: 26px;
    }

    .hobby i:last-child {
      margin-right: 0;
    }

    .block-letter {
      margin-top: 38px;
      margin-bottom: 0;
    }

    .block-letter .block-heading {
      margin-bottom: 32px;
    }

    .block-letter .block-content p {
      margin-bottom: 10px;
    }

    .watermark {
      position: absolute;
      right: 56px;
      bottom: 14px;
    }